[submodule "data_utils/face_tracking/DECA"]
	path = data_utils/face_tracking/DECA
	url = https://github.com/yfeng95/DECA.git

[submodule "emoca"]
	path = emoca
	url = https://github.com/radekd91/emoca.git
