streamlit>=1.24.0
torch>=1.12.0
numpy>=1.21.0
librosa>=0.9.0
soundfile>=0.10.3
torch-ema
ninja
trimesh
opencv-python
tensorboardX
pandas==2.0.3
tqdm
matplotlib
PyMCubes==0.1.4
rich
dearpygui
packaging
scipy
scikit-learn
transformers==4.36.0
face_alignment==1.4.1
python_speech_features
numba
resampy
pyaudio
einops
configargparse
mediapipe
lpips
imageio-ffmpeg
onnxruntime-gpu
fvcore
iopath
nvidia-ml-py3